#nav-title {
    color: #fad467;
}
#scrape-btn{
    background: #428d8e;
    color: #1c515e;
    font-weight: bold;
}
#save-display{
    background: #fad467;
    color: #1c515e;
    font-weight: bold;
}
.jumbotron { 
    background: url(../img/MDP_1910-2.jpg);
    background-size: 100%;
    height: 700px;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
   
}
.display-4{
    color: #fad467;
    text-shadow: 3px 3px #343a40 
}
.art-image {
    border-radius: 25%;
    width: 70%;
    margin-bottom: 10px;
}
#artDiv, #saveDiv {
    margin-bottom: 40px;
}
.container {
    margin-top: 20px;
}
.card {
    margin: 10px;
}
.saved-head {
    text-align: center;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .container {
        margin-top: 20px;
    }
    .jumbotron {
        height: 300px;
    }
  }

 